 body{
background-image:url('../image/pexels-christian-heitz-842711.jpg');
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-repeat:  no-repeat;
background-size: cover;
}
.reg{
  width:500px;
  margin:250px auto;
  background-color: rgba(0,0,0,.5);
  color:white;
  padding:10px 20px 30px;
  border-radius:10px;
}

.reg h3{
color:red;
text-align:center;
}
label[class^=t]{
display:block;
}
.input input{
width:100%;
font-size:1.2em;
border:1px solid #006D77;
padding:5px 10px;
box-sizing:border-box;
margin:5px 0px 15px;
border-radius:8px;
}
input:focus{
background-color:#83C5BE;
}
.btn{
  text-align:center;
}
button{
background-color: #83C5BE;
font-size:30px;
color:white;
border-radius:8px;
margin-top:20px;
padding:15px 25px;
border: 1px solid #006D77;
box-shadow:2px;
}
.radio input{
accent-color:#83C5BE;
transform:scale(1.5);

}

