h1,h2{
    color:blue;
    font-family:monospace; 
  }
  p,h4{
      color:brown;
      font-family:sans-serif;
      font-size:20px;
  }
  h2{font-size:50px;
    }
  h3{
  color:red;
  font-family:sans-serif;
  font-size:30px;
  }
  a:link{
  color:green;
  }
  a:hover{
  color:pink;
  }
  a:active{
  color:violet;
  }
  a:visited{
    color:blue;
    }
    body{

        background-color:yellow;
    }
    button{
        background-color: blue;
        font-size:30px;
        color:white;
        border-radius:20px;
        margin:30px 30px;
        padding:15px 25px;
        border: 2px solid #006D77;
        box-shadow:2px;
        }
        button[class^='b']{background-color: red;
        font-size:30px;
        color:white;
        border-radius:20px;
        margin:30px 30px;
        padding:15px 25px;
        border: 2px solid #006D77;
        box-shadow:2px;}
        
        
        
        
        .container{
           display:flex;
  
           
        }

        .img1{
          flex:1;
           order:2;
        padding:20px;}
       .p1{
        flex:1;
        order:1;
        position:relative;
        left:20px;
        
        
       }
       .container2{
        display:flex;

        
     }

     .img2{
       flex:1;
       
        order:2;
        position:relative;
        left:20px;
     }
    .p2{
     flex:1;
     order:1;
     position:relative;
     left:20px;
    }
       
.navbar{
  display:flex;
  justify-content:space-around;
  
  }




        
